body{
    background-color: #FAFAFF;
}
.jumbotron{
    /* display: inline-block; */
    /* margin-left:30px;
    margin-right:40px;
    margin-top:20px; */
}

header{
    /* display: inline;  */
}
#bazara_logo{
    width: 120px;
    height: auto;
}

.shipping_area_button{
    border-radius: 10px;
    border: transparent;
    width: 190px;
    height: 40px;
    background-color: rgba(229, 229, 229, 1);
    /* margin-top:-35px; */
    /* position:relative; */
    /* margin-left: 150px; */

}
.shipping_area_button img{
    width:20px;
    /* margin-top:-15px;
    margin-right:12px;
    margin-left:10px; */

}
.shipping{
    display:inline-block;
}
.shipping h3{
    margin-top:3px;
    font-size: 12px;
    margin-bottom: 1px;
}
.shipping h3:first-child{
    font-weight:lighter;
    font-family: 'Times New Roman', Times, serif;
}
.shipping h3:nth-child(2){
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
}
#searchbar{
    width: 700px;
    height: 35px;
    border-radius: 7px;
    background-color: #FFFFFF;
    border:none;
    resize: none;
    outline: none;
     
}
.searchbar{
    position:relative;
    top:-7px;
}
.jumbotron a{
    text-decoration: none;
    color:black;
}
.jumbotron a:hover{
    color: black;
}
.jumbotron a:active {
    color:white;
}
.searchbar input{
    color: rgba(126, 117, 117, 0.473);
    /* margin-left: 10px; */
}
.searchbar img{
    /* position:absolute;
    top:15px;
    left: 900px; */
    height:40px;
    width: 40px;
    background-color: transparent;
}
.searchbar a:hover , .searchbar img:hover{
    color:wheat;
}
.cart{
    /* position:absolute; */
    /* top:20px;
    left: 970px; */
}
.jumbotron ul li{
    display: inline-block;
    margin-right:25px;
}
.cart img{
    width: 35px;
    height: auto;
    
}
.cart,.openShop,.photoProfile {
    position: relative;
    right:25px;
}
.cart button{
    cursor:pointer;
    border: none;
    background-color: transparent;
}
.searchbar button{
    cursor: pointer;
    border: none;
    position:relative;
    top:15px;
    right: 25px;
}
.openShop img{
    width: 25px;
}
.openShop h5{
    display: inline-block;
    font-weight: 400;
}

.photoProfile img{
    border-radius:50%;
    width: 50px;
    height:50px;
    /* margin-top: 20px; */
    margin-left:-20px;
}
.photoProfile h5{
    display: inline-block;
    font-weight: 400;
}
/* .photoProfile h5 {
    left:1600px;
} */
